In [1]:
import pandas as pd

In [4]:
english = pd.DataFrame(['a','b','c','d','e','f'])
english.index=['2021-01-01', '2021-01-02','2021-01-03','2021-01-04','2021-01-05','2021-01-06']
english.columns = ['영어']
english

           영어
2021-01-01  a
2021-01-02  b
2021-01-03  c
2021-01-04  d
2021-01-05  e
2021-01-06  f

In [5]:
korea = pd.DataFrame(['ㄱ','ㄴ','ㄷ','ㄹ'])
korea.index=['2021-01-01', '2021-01-02','2021-01-03','2021-01-04']
korea.columns = ['한글']
korea

           한글
2021-01-01  ㄱ
2021-01-02  ㄴ
2021-01-03  ㄷ
2021-01-04  ㄹ

In [6]:
# 04. Project 방법 
english.index.isin(korea.index)

array([ True,  True,  True,  True, False, False])

In [7]:
reindex = english.index.isin(korea.index)
english[reindex]

           영어
2021-01-01  a
2021-01-02  b
2021-01-03  c
2021-01-04  d

In [9]:
english_resample = english[reindex]

df = pd.DataFrame()
df['영어'] = english_resample
df['한글'] = korea
df

           영어 한글
2021-01-01  a  ㄱ
2021-01-02  b  ㄴ
2021-01-03  c  ㄷ
2021-01-04  d  ㄹ

In [10]:
# concat 방법
df1 = pd.concat([english, korea], axis=1, join='inner')
df1

           영어 한글
2021-01-01  a  ㄱ
2021-01-02  b  ㄴ
2021-01-03  c  ㄷ
2021-01-04  d  ㄹ